
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  border-style: solid;
  border-color: White;
  font-family: verdana;
  font-size: 20px;
  padding: 5px;
  https://cdn.mos.cms.futurecdn.net/6h8C6ygTdR2jyyUxkALwsc-1200-80.jpg;
}